<h2>About</h2>
<div class="container">
  <div class="card">
    <div class="row">
      {% for item in site.data.about %}
      <div class="col-xs px-5 py-3 text-center">
        <p><b>Full Name:</b> {{item.name}}</p>
        <p><b>Contact:</b> {{item.number}}</p>
        <p><b>E-mail:</b> {{item.email}}</p>
        <p><b>Fun Fact:</b> {{item.funfact}}</p>
      </div>

      <div class="col-xl px-5 text-center">
        <h4><strong>Hello there!</strong></h4>
        <p class="name">&ensp;{{item.bio1}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
