<h2>Education</h2>
<div class="container">
  <div class="row">
    {% for item in site.data.education %}
    <div class="col">
      <div class="card">
        <div class="icon">
          <img src="./assets/img/education/{{ item.logo }}">
        </div>
        <div class="info">
          <p class="title">{{ item.course }}</p>
          <p class="location">{{ item.institute }}</p>
          <p class="dates">{{ item.dates }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
