<header class="nav-bar">
  <div class="nav-content">
    <div class="switch">
      <input type="checkbox" class="switch__input ml-5" id="Switch">
      <label class="switch__label" for="Switch">
          <span class="switch__indicator"></span>
          <span class="switch__decoration"></span>
      </label>
  </div>
    <a href="{{ '/' | relative_url }}">
      <div class="nav-logo">
        <img src="./assets/img/logo.svg" alt="{{ site.title }}" />
      </div>
    </a>
    <div class="nav-links">
      <nav>
        <a href="#projects"> Projects </a>
      </nav>
      <nav>
        <a href="#experience"> Experience </a>
      </nav>
      <nav>
        <a href="#education"> Education </a>
      </nav>
      
    </div>



    </div>
  </div>
</header>
