<h2>Projects</h2>
<div class="container" id="projects">
  <div class="row">
    {% for item in site.data.projects %}
    <div class="col">
      {% if item.page-name %}
      <a href="/projects/{{ item.page-name }}"></a>
      {% else %}
      <a>
        {% endif %}
        <div class="card">
          <div class="info">
            <p class="title">{{ item.title }}</p>
            <p class="location">{{ item.event }}</p>
            <p class="dates">{{ item.date }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
