<div id="projects">
  <h2>Projects</h2>
<div class="card-container">
    {% for item in site.data.projects %}

      <div class="card" data-title="{{ item.title }}">
        <div class="info project-info">
          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.event }}</p>
          <p class="dates">{{ item.date }}</p>
          <button class="project-button" onclick="openModal('{{ item.title }}')">Read more..</button>
        </div>
      </div>
    </a>

    <div class="card full overlay-card" data-title="{{ item.title }}">
        <div class="info">
          <button class="button-close close" onclick="closeModal('{{ item.title }}')">&times;</button>
          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.event }}</p>
          <p class="dates">About the project</p>
          <p class="summary">{{ item.summary }}</p>
          <button><a class="button-link" href="/projects/{{ item.page-name }}">Read More</a></button>
        </div>
    </div>

    {% endfor %}
  </div>
</div>
