@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "navbar";
@import "profile";
@import "page";

/* Screen sizes are divided into six groups 
  1. Mobile Potraits: (less than 640px)
  2. Mobile landscape: (more than or equal to 640px)
  3. Tablet portrait: (more than or equal to 768px)
  4. Tablet landscape: (more than or equal to 1024px) 
  5. Desktop: (more than or equal to 1280)
  6. Big Desktop: (more than or equal to 1800px)

  General guideline is to:
  - Design for mobile first (there isn't a breakpoint defined for mobile potraits)
  - Customize design for bigger screen sizes using media queries
*/

@mixin for-mobile-landscape {
  @media (min-width: 640px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 1024px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1280px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/* Global CSS */

body {
  background-color: var(--body-color);
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 30px;
  background-color: var(--card-color);
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
  text-align: center;
}

a {
  color: var(--link-colo);
}

/* Full Width Card CSS */

.card.full {
  .icon {
    width: 50%;
    height: auto;

    img {
      border-radius: 50%;
    }
  }

  .info {
    padding: 2.5%;

    .location {
      margin: 2.5% 0;
    }
  }
}

/* Card Info CSS */

.info {
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
  }

  .title {
    font-size: 500;
    font-weight: bold;
  }

  .location {
    font-size: medium;
    font-weight: 400;
  }

  .text {
    font-size: medium;
    font-weight: 300;
  }

  .dates {
    font-size: small;
    color: var(--dates-color);
  }
}

.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}

/* Netlify form at the end of the index page */
.form-control {
  background-color: var(--card-color);
  border: var(--card-color);
}
