.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content {
    height: 60px;
}

.nav-logo {
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-right: auto;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: inline;
    width: 100%;
    text-align: right;
    padding-left: 5%;
    padding-right: 2%;
    // margin-right: 5%;
}

.nav-content nav a {
  color: white;
  text-decoration: none;
}

.nav-links {
  float: right;
  width: 30%;
  padding-top: 1%;
}

@media screen and (max-width: 1059px) {
  .nav-logo {
    margin-left: 40%;
  }
  .nav-links {
    width: 40%;
  }
}
