


p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Open Sans", serif;
}

h2 {
    font-size: large;
}

body {
    background-color:var(--body-color) !important;
    background-size: cover;
    width: auto!important; 
    overflow-x: hidden!important;
    font-family: "Open Sans", serif;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: var(--banner-background-color);
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: var(--title-color);
    font-size: 50px;
    font-weight: 700;
}

.page {
    text-align: left;
}


.page h1 {
    text-align: left !important;
    font-weight: 800 !important;
    color: var(--text-color);
    margin-bottom: 0.7em;
}

.page h2 {
    text-align: left !important;
    font-weight: 800 !important;
    color: var(--text-color);
    margin-bottom: 0.5em;
}

.page h3 {
    font-weight: 600 !important;
    text-align: left !important;
    color: var(--text-color);
    font-size: 1.3rem;
}

.page h4 {
    font-weight: 600 !important;
    text-align: center !important;
    color: var(--text-color);
}

.page p {
    color: var(--text-color);
    font-weight: 500;
}

.page td {
    color: var(--text-color);
}

.page th {
    color: var(--text-color);
}

.page li {
    color: var(--text-color);
}

.page a {
    color: var(--page-color);
}

.page a:hover {
    color: var(--page-color);
}

.page code {
    color: var(--page-code-color);
}

hr {
    background-color: var(--text-color);
    padding: 1px;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

@media screen and (max-width: 768px) {
    
    .banner {
        padding: 20px 0px 20px 0px;
        height: 110px;
    }

    .banner .logo {
        max-width:150px;
        max-height:60px;
        width: auto;
        height: auto;
    }

    .banner .title {
        color: var(--title-color);
        font-size: 30px;
        font-weight: 700;
    }

    .page h1 {
        font-size: 1.5rem !important;
    }

    .page h2 {
        font-size: 1.2rem !important;
    }
    
    .page h4 {
        font-size: 0.8rem !important;
    }
}
