.modal-footer-icons {
  width: 30% !important;
}

.project-footer-icons {
  font-size: 32px;
  color: var(--banner-background-color);
}

.project-close-btn {
  background-color: var(--banner-background-color);
  border-color: var(--banner-background-color);
}

.project-close-btn:hover {
  text-decoration: underline;
  background-color: var(--banner-background-color);
  border-color: var(--banner-background-color);
}

.modal-body {
  color: black;
}

.modal-title {
  color: black;
}
