
.project-button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
}

.card.full {
    margin: 0 auto;
    display: none;  
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    .info {
        padding: 2.5%;
        background-color: #fefefe;
        border: 1px solid #888;
        
        /* Text inside the box */
        .location {
            margin: 2.5% 0;
        }

        /* The Close Button */
        .button-close {
            color: #000;
            float: right;
            font-size: 28px;
            font-weight: bold;
            background: none!important;
            border: none;
            padding: 0!important;
            cursor: pointer;
        }
        
        .button-close:hover,
        .button-close:focus {
            color: black;
            cursor: pointer;
        }
    } 

        button {
            background: #0766CA;
            border: none;
            border-radius: 5px;
            margin-top: 2.5%;
            padding: 1.25%;
    
            a {
                color: #ffffff;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }     
        }

}  
