---
---

@import 'all';
:root {
    --title-color: white;
    --text-color: black;
    --font-light-black: #404040;
    --body-color: #f5f5f9;
    --banner-background-color: #1C539F;
    --page-color: #0f90fe;
    --page-code-color: #17a2b8;
  }
